<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
  <!-- CSS Dependencies -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/shards.min.css">
  <link rel="stylesheet" href="static/css/opon.css">
</head>

<body class="card-img-overlay" style="background:url('ok.jpg') ;">

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div></div>
        <div class="card">
          <div class="card-body">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>¯\_(ツ)_/¯</strong> Sentiments gotten will appear here
            </div>
            {% for i in range(session["mentions_len"]) -%}
            <div class="alert alert-transparent alert-dismissible fade show" role="alert">
              <button type="button" class="close " data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="danger">&times;</span>
              </button><i class="fa fa-twitter"></i>
              {{ session["mentions"][i] }}
            </div>
            {%- endfor %}
          </div>
        </div>
      </div>
      <form action="" method="post">
        <div class="" style="padding-top:20px;">
          <div class="card" style="background: rgba(0,0,0,0)">

            <div class="card-body">
              This is some text within a card block.
              <div class="input-group input-group-seamless">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <input type="text" class="form-control" name="service_email" aria-label="Text input with checkbox" placeholder="Your service desk Address" value="{{request.form.service_email}}">
              </div>
              <div class="input-group input-group-seamless">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-address-card-o"></i>
                  </div>
                </div>
                <input type="text" name="search_term" class="form-control" aria-label="Text input with checkbox" placeholder="Search term" value="{{request.form.search_term}}">
              </div>
              <div>
                <!-- Normal Custom Select -->
                <input type="number"  name="search_volume" class="form-control" placeholder="Volume of sentiments" value="{{request.form.search_volume}}">
              </div>

              <div>
                <button type="submit" class="btn btn-primary ">
                  <i class="fa fa-circle-o-notch mr-2"></i>
                  Snap
                </button>
              </div>

            </div>
          </div>

        </div>
      </form>
      <div class="col-sm">

      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="static/js/shards.min.js"></script>
  <script src="static/nico.js"></script>
  <script src="static/https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
</body>

</html>